@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700");

@font-face {
  font-family: "Blacksword";
  src: url("Blacksword.otf");
}

$primary: #ab822c;
$primary-dark: #604713;
$light-grey: #949494ec;
$white: #fff;
$active: #3171e8;

// Utility Styling
@mixin width($bg-color) {
  width: 10%;
  height: 2px;
  margin: auto;
  background: $bg-color;
}

// General Styling

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", sans-serif;
  position: relative;
  padding-top: 120px;
}

header {
  nav {
    transition: 0.6s;
  }

  .navbar {
    .navbar-nav {
      .nav-link {
        color: $primary !important;
        font-weight: 400;

        &.active {
          color: $active !important;
        }
      }
    }
  }
}

#loan {
  .loan--content {
    background: linear-gradient(rgba(248, 248, 248, 0.911), rgba(236, 236, 236, 0.904)), url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
      font-family: "Blacksword";
      color: $primary;
    }

    .width {
      @include width($light-grey);
    }

    p.lead {
      font-size: 1rem;
      margin-bottom: 0;
    }

    a.button {
      color: #fff;
    }

    .button {
      background: linear-gradient(to right, $primary, $primary-dark);
      padding: 15px 40px;
      border: 2px solid $primary;
      border-radius: 40px;
      display: inline-block;
      margin: 25px 0;

      &:hover {
        text-decoration: none;
        background: transparent;
        color: $primary;
        border: 2px solid $primary;
        transition: 0.6s;
      }

      i {
        padding-left: 20px;
      }
    }
  }
}

#home {
  .loan--content {
    img {
      padding: .76rem;
    }
    .button {
      margin: 17px 0;
    }
  }
}

#business {
  .loan--content {
    padding-bottom: 10px;
  }
}

.scroll-navbar {
  background: $white;
  padding: 20px;
  box-shadow: 1px 11px 68px -20px rgba(171, 131, 44, 0.466);
}

#scroll-to-top {
  width: 74px;
  height: 74px;
  line-height: 74px;
  background: $primary;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 9;
  border-radius: 50%;
  box-shadow: 1px 3px 14px 6px rgba(171, 131, 44, 0.466);
  display: none;
  i {
    color: #fff;
    font-size: 24px;
  }
}

.img-container {
  position: relative;
  margin-bottom: 1.6rem;
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
    height: 100%;
    width: 100%;
    opacity: 0;
    color: $white;
    transition: 1s;

    p {
      text-transform: uppercase;
    }

    .width {
      @include width($primary);
    }
  }

  &:hover .img-overlay {
    opacity: 1;
  }
}
